# Configurações do Banco de Dados
DB_URL=jdbc:postgresql://localhost:5433/postgres
DB_USERNAME=postgres
DB_PASSWORD=sua_senha_aqui

# Configurações de Email
MAIL_USERNAME=seu_email@gmail.com
MAIL_PASSWORD=sua_senha_de_app_aqui

# Configurações do RabbitMQ
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest